/* Fonts */

$font-main: 'Inter', sans-serif;
$font-logo: 'TwitchyTV', sans-serif;


/* Colors */

$color-background-main: #0e0e10;
$color-background-nav: #18181B;
$color-background-primary: #a970ff;
$color-text-main: #efeff1;