/* Fonts */

$font-main: 'Inter', sans-serif;
$font-logo: 'TwitchyTV', sans-serif;

/* Colors */

$color-background: #0e0e10;
$color-background-main: #18181b;
$color-background-topics: #1f1f23;
$color-background-topics-border: #28282c;
$color-primary: #a970ff;
$color-text-main: #efeff1;
