@use 'variables' as *;
@use 'fonts' as *;

.main-section {
  font-family: $font-main;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $color-text-main;
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.aside-content {
  width: 100%;
  background-color: $color-background-topics;
  padding: 1rem;
  border: 1px solid #28282c;
  border-radius: 5px;
}

.main-content {
  width: 100%;
  background-color: $color-background-topics;
  padding: 1rem 5rem;
  border: 1px solid #28282c;
  border-radius: 5px;
}

  @media (max-width: 1024px) {
    .main-content{
      // width: 100vw;
      padding: 0.5rem;
    }

    .container {
      
    }
  }