@use 'variables' as *;
@use 'fonts' as *;

.main-section {
  font-family: $font-main;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $color-text-main;
  font-size: 14px;
}

.main-container {
  flex-grow: 1;
  background: $color-background;
  //background: url('/images/main-bg.png') no-repeat #000 fixed;
  //background-size: cover;
  padding-top: 12rem;
  padding-bottom: 2rem;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.main-content {
  width: 100%;
  background-color: $color-background-topics;
  padding: 1rem 5rem;
  border: 1px solid $color-background-topics-border;
  border-radius: 5px;

  &--right {
    width: 100%;
    background-color: $color-background-topics;
    padding: 1rem;
    // border: $color-background-topics-border;
    border: 1px solid $color-background-topics-border;
    border-radius: 5px;
  }
}

.mobile-sidemenu {
  color: $color-text-main;
  background-color: $color-background-main;
  border-left-color: $color-background;

  .ring-offset-background {
    top: 1.25rem;
  }
}

@media (max-width: 1024px) {
  .main-content {
    // width: 100vw;
    padding: 0.5rem;
  }

  .container {
  }
}
